<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="proxy" value="localhost:8888" />
  </appSettings>
  <testSettings>
    <innerTextSetting>falseval</innerTextSetting>
  </testSettings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <membership defaultProvider="TestMembershipProvider" hashAlgorithmType="MD5">
      <providers>
        <clear />
        <add name="TestMembershipProvider" type="WebAppTest.TestMembershipProvider" />
      </providers>
    </membership>
  </system.web>
</configuration>