<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="proxy" value="itgproxy:80" />
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <somethingElse id="foo">something</somethingElse>
    </customErrors>
  </system.web>
  <connectionStrings>
    <add name="SqlConnection1" connectionString="conn string 1" />
    <add name="SqlConnection2" connectionString="new string 42" />
  </connectionStrings>
</configuration>