<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="trayConfig" type="ConfigTray.Configuration.ConfigTrayConfiguration, ConfigTray" />
		<section name="nlog"
		   type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<trayConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" editor="c:\windows\system32\notepad.exe"
  versionRegex="Version\s(?&lt;Version&gt;\d{2})\.(?&lt;Milestone&gt;\d)\s\(Build\s(?&lt;BuildNum&gt;\d{4})\.(?&lt;Date&gt;\d{4})\)"
  showChangeNotifications="false">
		<addins />
		<version>
			<webpage url="http://spaces.live-int.com/version.htm" />
		</version>
		<settings>
			<literal name="maxHttpOut" desc="HTTP Max Outbound" ns="http://hmdevsrv/schemas/common/v2/Config.xsd">
				<xpath>/ns:config/ns:block[1]/ns:Framework[1]/ns:OutboundThrottling[7]/ns:MaxOutboundConnections[1]</xpath>
			</literal>
			<toggle name="useFiddlerProxy" desc="Use Fiddler Proxy">
				<xpath>//configuration/system.net/defaultProxy/proxy/@proxyaddress</xpath>
				<trueValue>http://ACDEV:8888</trueValue>
				<falseValue>http://itgproxy:80</falseValue>
			</toggle>
			<toggle name="enablePermissions" desc="Enable WebActivity Permissions">
				<xpath>//ns:config/ns:block/ns:Web/ns:WebActivityPermissionsEnabled</xpath>
				<trueValue>true</trueValue>
				<falseValue>false</falseValue>
			</toggle>
			<toggle name="useDevTransform" desc="Use Dev Transform">
				<xpath>//ns:config/ns:block/ns:Profile/ns:WebActivityFeedTransformElement</xpath>
				<trueValue>DevTransform</trueValue>
				<falseValue>Transform</falseValue>
			</toggle>
			<choice name="latchDebug" desc="Latch Debug Mode">
				<xpath>//root/DebugBreak</xpath>
				<values>
					<value>1</value>
					<value>0</value>
					<value>%bvt_debugbreak%</value>
				</values>
			</choice>
			<choice name="srsServer" desc="SRS Server" ns="http://scripts.live.com/namespaces/ExFxFEConfiguration.xsd">
				<xpath>//ns:config/ns:consumer[@name='Live.Spaces']/ns:server/@domainset</xpath>
				<values>
					<value>base.shared.live-int.com</value>
					<value>shared.live-int.com</value>
					<value>ACSN01:1000</value>
				</values>
			</choice>
			<toggle name="srsUseFiddlerProxy" desc="Use Fiddler Proxy">
				<xpath>//ns:config/ns:consumer[@name='Live.Spaces']/ns:server/ns:proxy/@proxyaddress</xpath>
				<trueValue>http://ACDEV:8888</trueValue>
				<falseValue>http://itgproxy:80</falseValue>
			</toggle>
			<choice name="customErrors" desc="Custom Errors Mode">
				<xpath>//configuration/system.web/customErrors/@mode</xpath>
				<values>
					<value>On</value>
					<value>Off</value>
					<value>RemoteOnly</value>
				</values>
			</choice>
			<choice name="notificationsEnvironment" desc="Notifications Environment"
			 ns="http://hmdevsrv/schemas/common/v2/Config.xsd">
				<xpath>/ns:config/ns:block/ns:DataAccessProviders/ns:Notifications/ns:DeploymentId</xpath>
				<values>
					<value>SN-DEV</value>
					<value>SN-BVT</value>
					<value>SN-INT</value>
				</values>
			</choice>
			<literal name="queueName" desc="Async Queue Workerservice Name"
			 ns="http://hmdevsrv/schemas/common/v2/Config.xsd">
				<xpath>//ns:config/ns:block/ns:QueueWorkConfig/ns:Queue</xpath>
			</literal>
			<toggle name="useAsyncQueue" desc="Use Async Queue" ns="http://hmdevsrv/schemas/common/v2/Config.xsd">
				<xpath>/ns:config/ns:block/ns:DataAccessProviders/ns:Notifications/ns:UseAsyncQueue</xpath>
				<trueValue>True</trueValue>
				<falseValue>False</falseValue>
			</toggle>
			<toggle name="Is Dogfood" desc="Toggles Dogfood Enabled" ns="http://hmdevsrv/schemas/common/v2/Config.xsd">
				<xpath>/ns:config/ns:block[1]/ns:Framework[1]/ns:IsDogfood[1]</xpath>
				<trueValue>true</trueValue>
				<falseValue>false</falseValue>
			</toggle>
		</settings>
		<files>
			<file name="AsyncQueue Config" watchForChanges="false" path="\\acdiag\c$\SharedBranchDiagnosticsServer\Microsoft.Live.Queue.xml">
				<settings>
					<settingName>queueName</settingName>
				</settings>
			</file>
			<file name="AsyncQueue Config" watchForChanges="false" path="\\acsn01\c$\spaces\SharedConfig\DeployedConfig\Config\Microsoft.Live.Queue.xml">
				<settings>
					<settingName>queueName</settingName>
				</settings>
			</file>
			<file name="WebConfig" watchForChanges="false" path="\\acdiag\c$\SharedBranchDiagnosticsServer\web.config">
				<settings>
					<settingName>useFiddlerProxy</settingName>
				</settings>
			</file>
			<file name="DAPConfig" watchForChanges="false" path="\\acdiag\c$\SharedBranchDiagnosticsServer\DataAccessProvidersConfig.xml">
				<settings>
					<settingName>useAsyncQueue</settingName>
					<settingName>notificationsEnvironment</settingName>
				</settings>
			</file>
			<file name="DAPConfig" watchForChanges="false" path="\\acsn01\c$\spaces\SharedConfig\DeployedConfig\Config\DataAccessProvidersConfig.xml">
				<settings>
					<settingName>useAsyncQueue</settingName>
					<settingName>notificationsEnvironment</settingName>
				</settings>
			</file>
			<file name="Profile WebConfig" watchForChanges="false" path="\\acsn01\c$\spaces\profile\files\pages\web.config">
				<settings>
					<settingName>useFiddlerProxy</settingName>
				</settings>
			</file>
			<file name="UXPConfig" watchForChanges="false" path="\\acsn01\c$\spaces\config\uxp\uxpconfig.xml">
				<settings>
					<settingName>srsServer</settingName>
				</settings>
			</file>
			<file name="Spaces WebConfig" watchForChanges="false" path="\\acsn01\c$\spaces\web\files\pages\web.config">
				<settings>
					<settingName>useFiddlerProxy</settingName>
				</settings>
			</file>
			<file name="UAT WebConfig" watchForChanges="false" path="\\acsn01\c$\spaces\Admin\Files\UatWeb\SpacesAdmin\web.config">
				<settings>
					<settingName>useFiddlerProxy</settingName>
					<settingName>customErrors</settingName>
				</settings>
			</file>
			<file name="Api WebConfig" watchForChanges="false" path="\\acsn01\C$\spaces\ApiFramework\Files\web.config">
				<settings>
					<settingName>useFiddlerProxy</settingName>
				</settings>
			</file>
			<file name="Working SpacesConfig" watchForChanges="false" path="D:\Working.server.spaces\drop\debug\Spaces\amd64\test\kaf\spacesconfig.xml">
				<settings>
					<settingName>latchDebug</settingName>
				</settings>
			</file>
			<file name="DAF Config" watchForChanges="false" path="\\acsnship\c$\spaces\SharedConfig\DeployedConfig\Config\Framework.xml">
				<settings>
					<settingName>Is Dogfood</settingName>
					<settingName>maxHttpOut</settingName>
				</settings>
			</file>
			<file name="DAPConfig" watchForChanges="false" path="\\acsnship\c$\spaces\SharedConfig\DeployedConfig\Config\DataAccessProvidersConfig.xml">
				<settings>
					<settingName>notificationsEnvironment</settingName>
					<settingName>useAsyncQueue</settingName>
				</settings>
			</file>
		</files>
		<tools />
	</trayConfig>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logFile"
     xsi:type="File"
     fileName="log.txt"
     layout="${longdate} - ${callsite} -&gt; ${level}: ${message}"
     concurrentWrites="true"/>
		</targets>
		<rules>
			<logger name="*"
     minlevel="Debug"
     writeTo="logFile" />
		</rules>
	</nlog>
</configuration>